* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  line-height: 1.5;
}

table, th, td {
  border: 1px solid;
  border-collapse: collapse;
  padding: 4px 8px;
}