* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  line-height: 1.5;
  min-height: 100vh;
}

body > h1 {
  margin: 20px 40px;
}

table {
  border-collapse: collapse;
  margin-bottom: 4px;
}

caption {
  text-align: left;
  font-size: 2em;
  font-weight: 600;
  margin: 8px 4px;
}

th, td {
  padding: 4px 8px;
  text-align: left;
}

tr:not(:last-child), tr:first-child {
  border-bottom: 1px solid;
}

tr:nth-child(even) {
  background-color: rgb(180, 179, 179);
}

.books__container {
  width: fit-content;
  margin: 0 auto;
}

.book__remove {
  border: none;
  background-color: transparent;
  vertical-align: middle;
  cursor: pointer;
}

.book__remove > img {
  filter: brightness(0);
  height: 20px;
  margin-top: 3px;
}

.add__book {
  height: 30px;
  width: 60px;
  background-color: rgb(89, 111, 255);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;

  align-self: end;
  margin-bottom: 5px;
}

.add__book:hover {
  background-color: rgb(45, 73, 255);
}

dialog {
  padding: 10px 20px;
  position: fixed;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;

  background-color: rgb(28, 97, 67);
  border: none;
  border-radius: 8px;
  box-shadow: 0 5 10px 2px rgba(0, 0, 0, 0.2)
}

form {
  display: flex;
  flex-direction: column;
}